{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@modules": "./src/modules",
          "@router": "./src/router",
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@store": "./src/store",
          "@config": "./src/config",
          "@hooks": "./src/hooks"
        }
      }
    ]
  ]
}
